version: '3.8'

services:
  # --- INFRASTRUCTURE SERVICES ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_log:/var/lib/zookeeper/log

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - kafka_data:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list"]
      interval: 10s
      timeout: 5s
      retries: 5

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=sensor_user
      - DOCKER_INFLUXDB_INIT_PASSWORD=sensor_pass123
      - DOCKER_INFLUXDB_INIT_ORG=smart-vfd
      - DOCKER_INFLUXDB_INIT_BUCKET=sensors_bucket
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-token
    volumes:
      - influxdb_data:/var/lib/influxdb2

  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
    restart: always

  
  mqtt_service:
    profiles: ["prod"]   
    build: ./backend/mqtt-service
    container_name: mqtt_service
    restart: always
    ports:
      - "1884:1884" 
    environment:
      - KAFKA_BROKER=kafka:9092
      - MQTT_URL=mqtt://mosquitto:1883
    depends_on:
      kafka:
        condition: service_healthy

  db-service:
    profiles: ["prod"]   
    build: ./backend/db-service
    container_name: db_service
    restart: always
    environment:
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=my-super-secret-token
      - INFLUX_ORG=smart-vfd
      - INFLUX_BUCKET=sensors_bucket
      - KAFKA_BROKER=kafka:9092
    depends_on:
      influxdb:
        condition: service_started
      kafka:
        condition: service_healthy

  api-gateway:
    profiles: ["prod"]   
    build: ./backend/api-gateway
    container_name: api_gateway
    ports:
      - "3000:3000"
    environment:
      - KAFKA_BROKER=kafka:9092
    depends_on:
      db-service:
        condition: service_started
      kafka:
        condition: service_healthy

# --- PERSISTENT STORAGE ---
volumes:
  influxdb_data:
  kafka_data:
  zookeeper_data:
  zookeeper_log: